---
---

@import "{{ site.theme }}";

@media print, screen and (min-width: 0) { div.wrapper { width: auto; margin: 0; }
  header, section, footer { float: none; position: static; width: auto; }
  header {  text-align: center; margin: 0px; padding-right: 0px; }
  section { border: 1px solid #e5e5e5; border-width: 1px 0; padding: 20px 0; margin: 70px 70px 70px; }
  header a small { display: inline; }
  header ul { position: absolute; right: 50px; top: 52px; } }

h1 { font-size: 28px; align: center}

footer { text-align: center; margin: 0px; padding-right: 0px; -webkit-font-smoothing: subpixel-antialiased; }

img[alt=profile_pic] { width: 200px; }